*{
    margin: 0;
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
    gap: 10px;
}
nav{
    background-color: grey;
    text-align: center;
    padding: px 0;
}
nav img{
    display: flex;
}
nav a {
    display: flexbox;
    text-decoration: none;
    margin: 0 10px;
    color: aliceblue;


}


nav a:hover{
    color: red;
    cursor: pointer;
}


footer p{
    background-color: black;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: end;


}




